<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataStruct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>page26_n!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>page26_n+.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>page33_arrayPointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>page33_数组指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>page34_指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>page35_函数指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>page36_函数指针作为函数参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>page39_指向函数的指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>page40_指针函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2269BE891E0B6B9700DAE0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2269BE941E0B6DE500DAE0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22868AC11E022D1A00068922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22868ACF1E022D3500068922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22868ADA1E022D5000068922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22868AE51E026CE700068922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228E88871E03887B001A6370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228E88921E038999001A6370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228E88DE1E0787C4001A6370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228E88EB1E0789AB001A6370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
